body {
    background-color: #000;
    height: 840px;
}

.box 
{ 
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
    'sidebar header'
    'sidebar content'
    'sidebar content'
    'sidebar content'
}

.header {
    background-color: rgb(52, 52, 182);
    border: 3px solid #fff;
    grid-area: header;
}

.sidebar {
    border: 3px solid rgba(56, 135, 70, 0.867);
    grid-area: sidebar;
    background-color: rgb(73, 151, 73);
}

.content {
    border: 3px solid #55a;
    grid-area: content;
    background-color: rgb(147, 54, 147);
}