

body {
    background-color: rgb(229, 230, 239);
}

.box 
{ 
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    'sidebar header'
    'sidebar content';
}

.header {
    background-color: rgb(52, 52, 182);
    border: 3px solid #fff;
    grid-area: header;
}

.sidebar {
    border: 3px solid rgba(56, 135, 70, 0.867);
    grid-area: sidebar;
    background-color: rgb(73, 151, 73);
}


* {
    list-style-type: none;
    padding: 0%;
    box-sizing: border-box;
}


.main {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 0.46fr);
}

.breakin-news {
    grid-column: 2/3;
}

.profiles {
    grid-column: 2/3;
}

/* sidebar layout*/

@font-face {
    font-family:'roboto-black';
    src: url(./fonts/roboto/Roboto-Black.ttf);

}

@font-face {
    font-family: 'roboto-bold';
    font-weight: bold;
    src: url(./fonts/roboto/Roboto-Bold.ttf);
}

body {
    --font-system: 'roboto-black', 'roboto-bold';
    font-family: var(--font-system), system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}


.sidebar {
    font-family: var(--font);
    color: white;
    background-color:#0891b2;
    display: grid;
    min-width: 170px;
}

.Logo + menu,
.Logo + menu + menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 337px;
}

.DStitle + menu + menu {
    margin-top: 45px;
}


.DSitem {
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-size: 30px;
    padding-left:45px;
    flex: 0 1 20%;
    margin-left:5%;
}

.DStitle {
    text-align: center;
    margin-left: 10%;
}

img {
    --margin-size:calc(50% - 10px);
    width: 78%;
    height: 78%;
    margin-left: var(--margin-size);
}

.Logo {
    display: grid;
    grid-template-columns: minmax(20%, 90px ) 1fr;
    align-items: center;
    justify-items: start;
    width: 90%;
    font-size: 1em;
}

.DSitem + p {
  margin: auto 0;
}
/* sidebar layout*/


/*header layout*/
.header  * {
    margin: 0%;
    padding: 0%;
}

.header {
    font-family: inherit;
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #ffffff;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    display: block;
    width: 80%;
    height: 35px;
    border-radius:30px;
    background-color: rgb(229, 230, 239);
    border: none;
}

 input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button { /*delete the X icon of the field search in safari*/
    display: none; 
} 

input:focus {
    border: solid 3px blueviolet;
    outline: none;
}

.glass {
    width: 40px;
    height: 40px;
}

.morgana[src='./logos-svg/morgana.svg'] {
    width: 70px;
    height: 70px;
    background-color: rgb(223, 223, 232);
    border-radius: 40px;
    box-shadow: 2.5px 2.5px gray;
}

.logo-header {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: end;
    align-items: start;
    padding-left: 9%;
    gap: 2%;
}

.logo-header > p {
    line-height: 2rem;
    font-size: 1.5rem;
}


.logo-header  span {
    font-size: 1rem;
}

.buttons, .notification {
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    font-size: 1.1rem;
}

div + .notification {
    gap: 6%;
}

.buttons * {
    background-color: #0891b2;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    color: #fff;
    border-color: #0891b2;
    box-shadow: none;
    border-style: solid;
}


.notification img[src ='./logos-svg/morgana.svg'] {
    width: 55px;    
    height: 55px;
    border-radius: 35px;
}
/*header layout*/

/*main content style and layout*/
.main {
    background-color: rgb(229, 230, 239);
    display: grid;
    grid-template-columns:  3fr repeat(1, 1fr);
    grid-template-rows: 1fr repeat(4, 3fr) 1fr;
    padding-right: 0.3%;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-row: 2/6;
    gap: 3%;
    padding: 1% 1% 1% 1.5%;
}

.card {
    background-color: white;
    border-radius: 8px;
    border-left: 7.5px solid rgb(253, 143, 53);
    padding-left: 3%;
    box-shadow: 0px 0px 5px 0px grey;
    padding-top: 30px;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;

}

.card span {
    font-weight: bold;
    font-size: 1.5rem;
}

 .main  span {
    font-size: 1.5rem;
    padding-left: 2.2%;
    align-self: end;
    
} 

.main span > p {
    margin-bottom: 0%;
}


.breakin-news {
    grid-row: -6/-2;
}



.card ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 60px;
    gap: 6%;
    width: 93%;
    
}

.card ul > li {
    width: 30px;
    height: 30px;
}

.card > span {
    padding: 0%;
}

/*design and layout of a sections breakin-news and users*/


.breakin-news {
    display: grid;
    grid-template-rows: 2fr 0.5fr 2fr;
    padding: 3%;
    row-gap: 0%;
    
}


.news,
.profiles {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 5%;    
} 

.profiles {
    grid-column: 1/2;
    display: grid;

}

.profiles div {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-items: start;
    margin-bottom: 12px;
    gap: 30px 6%;
}

 .users > div  p {
    line-height: 30px;
    margin: 25px 0% 0% 0px;
} 

.profiles img {
    width: 45px;
    height: 45px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 30px 0px 0px 0px;
}

.news + span {
    grid-row: 2/3;
    margin: 0%;
    padding: 0% 0% 10px 0%;
    align-self: end;
}

.news p {
    border-bottom: 2px solid grey;
    padding-bottom: 15px;

}

div .users {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 30px;
}
